<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<select id="visci_select">
[[VISCI_SELECT]]
</select>

<iframe id="visiframe" src="[[VISUALIZATION_ONE]]" frameborder="0" noresize="noresize" data-view="fullScreenPreview" style="height: 389px;"></iframe>

<script>
$(document).ready(function() {
  var visuals = $("#visci_select").select2();
});
</script>
